@import url(https://fonts.googleapis.com/css?family=VT323);
body {
  font-family: 'VT323';

  margin: 2em;
}

h1 {
  font-style: strong;
  color: #3DFF4C;
}

p { 
  font-style: normal;
  color: #3DFF4C; 
}
